<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SlideshowApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C750DE61FB9A0A100C884F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C750DFA1FB9A0A100C884F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C750E051FB9A0A100C884F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
